// MISC


.comment1 a, .comment2 a, .blogText a, .aboutSidebar a{
    color: #074115;
    margin-left: 0;
}

.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
}

// MAIN

    // SIDEBAR {

    .aboutSidebar {
        display: flex;
        flex-direction: column;
        width: 33%;
        float: left;
        margin-top: 50px;
        background-color: white;
        padding: 20px;
    }

        .sidebarImage {
            background-image: url(../assets/side-bar-image.jpg);
            background-size: cover;
            background-position: center;
            height: 300px;
            width: 170%;
            position: relative;
            right: 70%;
        }

        .aboutSidebar p {
            margin: 0;
        }

        .aboutSidebar li{
            display: list-item;
            width: 100%;
            font-size: 1.7rem;
            font-family: 'Roboto', sans-serif;
            padding: 0;
            list-style-type: disc;
            margin-left: -20px;
        }

    // BLOG AREA

    .blogText, .comments, .blogImage {
        display: flex;
        flex-direction: column;
        float: right;
        width: 60%;
    }

    .blogImage {
        position: relative;
        left: 24px;
        top: -250px;
    }

        .blogImage img {
            width: 800px;
            height: 500px;
            box-shadow: #F8E71C -15px 15px;
        }

    .blogText {
        border: #F8E71C 4px solid;
        border-right: none;
        position: relative;
        bottom: 250px;
        left: 10px;
        padding: 25px;
    }

    // COMMENTS SECTION

    .comments {
        bottom: 250px;
        right: 0;
        position: relative;
        width: 55%;
    }

        .comments h3 {
            margin: 25px 0;
        }

    // SUBMIT COMMENTS FORMS

    .submitComment form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
    }

    .userInfo {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

        .userInfo input{
            width: 48%;
            padding: 10px;
            border-bottom: #0E902D 3px solid;
        }
    
    .submitComment textarea {
        padding: 10px;
    }

        
                



        


