// HEADER

.contactHeader {
    background-image: url(../assets/contact-header-1.jpg);
}

// MAIN

.contentBody {
    display: flex;
    justify-items: right;
    justify-content: space-between;
    flex-direction: row-reverse;
    // align-items: center;
}

    #contactSubmitComment {
        width: 55%;
        height: 350px;
        position: relative;
        bottom: 100px;
        box-shadow: #F8E71C -15px 15px;
        background: white;
        align-items: center;
        display: flex;
        padding: 40px;
    }

    .contactInfo {
        width: 35%;
        display: inline-block;
        padding-top: 20px;
    }

        .contactInfo i {
            font-size: 2rem;
            color: #0E902D;
            margin-right: 15px;
        }

        .contactInfo i:hover {
            color: #F8E71C;
        }

        .contactInfo h2 {
            font-size: 2.5rem;
        }

        .contactInfo p {
            margin: 0;
        }

// TABLET 

@media (max-width: 878px){

// HEADER

    .contactHeader h1 {
        margin: 0;
    }

#contactNav h1{
        position: absolute;
    }

// HEADER

.contentBody {
    display: block;
}

    #contactSubmitComment {
        width: 100%;
        display: block;
    }

    #contactSubmitComment {
        position: static;
        width: 100%;
        height: auto;
        justify-content: center;
    }

}



