// INDEX MEDIA QUERY: TABLET (MAX-WIDTH: 878PX)

@media (max-width: 878px) {

// HEADER

header {
    padding: 20px;
}

    // NAV BAR

    .navigationBar {
        height: auto;
        display: flex;
        padding-left: 0;
        justify-content: space-between;
    }

        .navigationBar a, .logo {
                font-size: 4.5rem;
        }

        .hamburgerMenu {
            display: inline-flex;
            font-size: 7rem;
            color: white;
            right: 20px;
            position: absolute;
            float: right;
        }

            .navigationBar nav {
                visibility: hidden;
            }

        .headerBox {
            visibility: hidden;
        }

    // H1

    .indexH1 {
        margin: 0;
    }

// MAIN

    // WHAT IS PLANTED

    .whatIsPlanted {
        height: auto;
        padding: 50px 40px;
    }

        .whatIsPlanted p {
            padding: 0;
        }

    // CHECKERED

    .checkeredBox {
        display: block;
    }

    .discover,
    .leftImage, 
    .rightImage, 
    .workshop {
        display: block;
        width: 100%;
        text-align: left;
        padding: 40px;
        height: auto;
    }

        .leftImage, .rightImage {
            background-size: cover;
            background-position: center;
        }

        .leftImage {
            background-image: url(../assets/left-flowers.jpg);
        };

        .rightImage {
            display: none;
        };

        .leftImage img, .rightImage img {
            visibility: hidden;
        }

    // DISCOVER

    .whatIsPlanted,
    .discover,
    .workshop {
        border: #F8E71C solid 5px;
    }

    .discover {
        border-top: 0;
        margin-bottom: 70px;
        padding-top: 0;
    }

    .workshop {
        border-bottom: 0;
    }

    // GREENHOUSES

    .greenhousesEtc {
        display: block;
        height: 100%;
        padding: 40px;
        margin-bottom: 30px;
    }

        .greenhousesEtc h3:nth-child(2n+1) {
            margin-top: 40px;
        }

        .greenhousesEtc p {
            margin: 0;
        }

    // FOUNDER

    .founder {
        height: auto;
    }

    // GALLERY {
    
    .gallery {
        border: #F8E71C solid 5px;
        display: block;
        text-align: center;
    }

        .gallery img {
            padding: 20px 0;
            width: 100%;
        }

}

// MEDIA QUERY (MAX-WIDTH: 500PX)

@media (max-width: 500px) {

    .indexH1 h1{
        top: -490px;
    }
 
    .founder {
        display: block;
        text-align: center;
    }

        .founder img {
            margin-bottom: 30px;
        }

}