// UNIVERSAL



// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

// HEADER

.indexHeader {
    background-image: url(../assets/home-image-1.jpg);
}

header {
    background-size: cover;
    background-position: center;
    height: 80vh;

    .oneLine {
        display: flex;
        width: 100%;
        margin-left: 100px;
    }

    .logo {
        color: white;
        font-size: 2.5rem;
    }

    // NAV

    nav {
        display: flex;
        text-transform: uppercase;
        width: 100%;
        align-items: center;
    }

        ul {
            list-style-type: none;
            margin: 0;
            width: 100%;
        }

            li {
                display: inline;
            }

            a {
                text-decoration: none;
                color: white;
                margin: 0 20px;
                font-size: 1.5rem;
                
            }

            a:hover {
                color: #F8E71C;
            }

    // H1


    .plantedH1 {
        display: flex;
        align-items: center;
        color: white;
        font-size: 6rem;
        text-align: center;
        width: 10%;
    }

    .yellow {
        color: yellow;
    }

    // HEADER BOX

    .headerBox {

        // display: flex;
        // flex-direction: row-reverse;
        
        img {
            height: auto;
            width: 30%;
            position: absolute;
            right: 0;
            top: 25vh;
        }

    }

}

// MAIN

// WHAT IS PLANTED?

.whatIsPlanted {
    height: 80vh;
    text-align: center;
    justify-items: center;

        p {
            padding: 75px;
        }
}   


// CHECKERED TOP

.whiteBox {
    display: flex;
}




// GALLERY 

.gallery {
    display: flex;
    justify-content: space-evenly;

    img {
        padding-right: 20px;
    }

    img:last-child {
        padding-right: 0;
    }
}






    
    

    
