@import "setup";
@import "blog";
@import "contact";
@import "home";
@import "home-media-queries";
@import "blog-media-queries";
@import "contact-media-queries";

// UNIVERSAL STYLES

// DESKTOP

html {
    background-color: #F0EFED;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

#blogComment, #ctctComment {
    border: #0E902D solid 3px;
    max-width: 100%;
}

button {
    background-color: #0E9020;
    color: white;
    font-size: 1.7rem;
    padding: 7px 10px;
}

.copyright {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

    .copyright p {
        margin: 0;
        padding: 10px;
    }

.emphasize {
    font-style: italic;
    font-size: 1.7rem;
}

h1 {
    color: #F8E71C;
    text-align: left;
    margin-left: 20px;
    margin-top: 300px;
    background-color: transparent;
    width: 40%;
    font-size: 9rem;
    z-index: 1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    margin: 0;  
}

h4 {
    font-size: 2rem;
}

html {
    font-size: 62.5%;
}

.navigationBar {
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center;
    padding-left: 60px;
}

    .navigationBar .socials {
        display: none;
    }

p {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
}

.socials {
    display: none;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1080px;
}

// TABLET

@media (max-width: 878px) {

    h2,
    h3,
    h4 {
        margin: 20px 0;
    }

    * {
        // border: blue 2px solid;
    }

    h3 {
        font-size: 4rem;
    }

    .contactHeader h1,
    .blogHeader h1 {
        width: 100%;
    }

    .navigationBar {
        background-color: transparent;
        display: flex;
        // flex-wrap: wrap;
        align-items: flex-start;
        height: 100%;
        padding: 0;
    }

        .socials {
            display: flex;
            flex-direction: column;
            font-size: 4rem;
            color: #F8E71C;
            width: 100%;
        }

            .socials i {
                padding: 5px 20px;
            }

            .navigationBar .socials i:hover {
                color: #0E9020;
            }

}

// PHONE

@media (max-width: 500px) {

    header {
        height: 100vh;
    }

    h1 {
        font-size: 6rem;
    }

    h2,
    h3 {
        font-size: 3.2rem;
    }

}