html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  border: red 1px solid;
}

.comment1 a, .comment2 a, .blogText a, .aboutSidebar a {
  color: #074115;
  margin-left: 0;
}

.blogHeader {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: center;
  background-size: cover;
}

.blogHeader h1 {
  color: #F8E71C;
  text-align: left;
  margin-left: 60px;
  margin-top: 300px;
  background-color: transparent;
}

.aboutSidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  float: left;
  margin-top: 50px;
  position: relative;
  left: 50px;
  background-color: white;
  padding: 20px;
}

.sidebarImage {
  background-image: url(../assets/side-bar-image.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 120%;
  position: relative;
  right: 25%;
}

.aboutSidebar p {
  margin: 0;
}

.aboutSidebar li {
  display: list-item;
  width: 100%;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  list-style-type: disc;
  margin-left: -20px;
}

.blogText, .comments, .blogImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  width: 60%;
}

.blogText {
  border: #F8E71C 4px solid;
  position: relative;
  bottom: 250px;
  left: 10px;
  padding: 25px;
}

.blogImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 500px;
  -webkit-box-shadow: #F8E71C -15px 15px;
          box-shadow: #F8E71C -15px 15px;
  overflow: hidden;
  position: relative;
  left: 25px;
  top: -250px;
}

.comments {
  bottom: 250px;
  right: 0;
  position: relative;
  width: 55%;
}

.comments h3 {
  margin: 25px 0;
}

.submitComment form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 250px;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.submitComment form input {
  width: 48%;
  padding: 10px;
  border-bottom: green 3px solid;
}

html {
  background-color: #F0EFED;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

button {
  background-color: #0E9020;
  color: white;
  font-size: 1.7rem;
  padding: 7px 10px;
}

.copyright {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.copyright p {
  margin: 0;
  padding: 10px;
}

.emphasize {
  font-style: italic;
  font-size: 1.7rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

.navigationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

p {
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
}

header {
  height: 570px;
}

.indexHeader {
  background-image: url(../assets/home-image-1.jpg);
}

.indexNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 100px;
  padding-top: 10px;
}

.logo {
  color: white;
  font-size: 2.5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 1.5rem;
}

a:hover {
  color: #F8E71C;
}

h1 {
  font-size: 9rem;
  text-align: center;
  z-index: 1;
  position: relative;
}

.plantedH1 {
  margin-top: 200px;
}

.plantedText {
  color: white;
}

.invitationText {
  color: yellow;
}

.headerBox img {
  right: 0;
  position: absolute;
  width: 550px;
  height: 550px;
  font-family: 'Josefin Sans', sans-serif;
  top: 100px;
  z-index: 0;
}

.whatIsPlanted {
  height: 570px;
  text-align: center;
  padding-top: 175px;
  background-color: #F0EFEF;
}

.whatIsPlanted p {
  font-size: 2rem;
  padding: 0 100px;
}

.checkeredBox {
  height: 600px;
  background-color: white;
}

.discover, .leftImage, .rightImage, .workshop {
  position: relative;
  width: 50%;
  float: left;
  height: 300px;
}

.leftImage img, .rightImage img {
  position: relative;
  width: 450px;
  -webkit-box-shadow: #F8E71C 15px 15px;
          box-shadow: #F8E71C 15px 15px;
}

.leftImage img {
  top: -40px;
}

.workshop {
  padding-left: 85px;
  padding-top: 80px;
}

.discover {
  padding-right: 85px;
  text-align: right;
}

.rightImage img {
  float: right;
  top: 40px;
  left: -15px;
}

.greenhousesEtc {
  height: 450px;
  background-color: #F0EFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.greenhousesEtc i {
  font-size: 2rem;
  background-color: yellow;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}

.greenhousesEtc p {
  margin-left: 55px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.founder {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
  background-color: #F0EFEF;
}

.founder img {
  width: 200px;
  margin-right: 50px;
  -webkit-box-shadow: #F8E71C 15px 15px;
          box-shadow: #F8E71C 15px 15px;
}

.founder p {
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px;
  background-color: white;
}

.gallery img {
  padding-right: 20px;
}

.gallery img:last-child {
  padding-right: 0;
}
